#projects h2 {
  text-align: center;

  /* margin-top: 17%; */
  margin-bottom: 3%;
  /* background-color: orange; */
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 30px; */
  /* margin-top: 50px; */
  padding: 2%;

  /* background-color: plum; */
}

.project-item {
  border: 0.7px solid #0079d1;
  border-radius: 10px;

  padding: 1%;
  /* overflow: ; */
  height: 100%;
  width: 40%;

  margin-bottom: 5%;
  /* margin-right: 2%; */
  background-color: #000f1a;
}
.project-item h3 {
  text-align: center;
  margin-bottom: 5%;
}
.project-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  /* padding: 10px; */
  /* how long the transition will take and what type */
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.project-item:hover img {
  transform: scale(1.03);
}
.project-item iframe {
  /* width: 100%;
  height: auto; */
  border-radius: 20px;
  /* padding: 10px; */
  /* how long the transition will take and what type */
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.project-item iframe:hover {
  transform: scale(1.03);
}
.project-item video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* padding: 10px; */
  /* how long the transition will take and what type */
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.project-item video:hover {
  transform: scale(1.07);
}

.project-item p,
.project-item a {
  margin-top: 2%;
  margin-bottom: 4%;
  /* background-color: orange; */
}
