.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.project-item {
  flex: 0 0 300px;
  /* Add any additional styling for the project item */
}

.project-item img {
  width: 100%;
  height: auto;
}
