/* Color Palette */
:root{
    --background-color: #202124;
    --text-color: #e8eaed;
    --primary-color: #2176FF;
    --secondary-color: #23CE6B;
    --accent-color: #FC6DAB;
}
/* Typography */
html{
    /* 10px */
    font-size: 62.5%;  
}
body{
    background-color: var(--background-color);
    font-family: cubano,sans-serif;
    font-size: 2.4rem;
    color: var(--text-color);
    padding: 0 10vw 0 10vw;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

/* Links */
a, a:visited, a:active{
    color: var(--accent-color);
}

/* Badges */
.badge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    font-size: 2rem;
}
.badge--primary{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.badge--secondary{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.badge--accent{
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* NavBar */
.nav-bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav-bar a{
    color: var(--text-color);
}
.logo a{
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
}
.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    margin-right: 20px;
}

@media screen and (max-width: 768px){
    .nav-bar{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

section{
    border: 1px red solid;
}